html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../images/safwan-thottoli-QFQ6vsou7XA-unsplash.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

.main {
    min-height: 100%;
    width: 100%;
    max-width: 85%;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto 0 auto;;
    padding: 20px;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(111, 78, 55);
    border: 8px solid #000000;
    border-radius: 10px;
    margin: 30px auto;
    width: 1100px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: large;
    color: white;
}

header {
    text-align: center;
    margin: 0;
}

header h1 {
    font-size: 3em;
    margin: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    padding: 15px 20px;
    display: block;
}
