
.beverages-section {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.item-column {
    flex: 1;
    margin-left: 400px;
}

.item-column h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.drinks {
    display: flex;
    background-color: #bea08a;
    padding: 20px 30px;
    width: fit-content;
    border-radius: 250px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.drinks h3 {
    margin: 0;
    font-size: 25px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.drinkImage {
    height: 360px;
    width: auto;
    margin-right: 650px;
    margin-top: 120px;
    border-radius: 30px;
    border: 8px solid #000000;
}
